name: golang runtime build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

env:
  IMAGE_REGISTRY: ghcr.io
  PROJECT_REGISTRY: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get latest Go version
        id: go_version
        run: |
          LATEST_GO_VERSION=$(curl -s 'https://go.dev/VERSION?m=text' | head -n 1 | cut -c 3-)
          echo "VERSION=$LATEST_GO_VERSION" >> $GITHUB_OUTPUT
          echo "Latest go version is $LATEST_GO_VERSION"

      - name: Build and push
        uses: docker/build-push-action@v5    # 使用官方 action
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            VERSION=${{ steps.go_version.outputs.VERSION }}
          tags: ${{ env.IMAGE_REGISTRY }}/${{ env.PROJECT_REGISTRY }}:v${{ steps.go_version.outputs.VERSION }}